NUKARA_JWT_SECRET=nukara-dev-secret

NUKARA_POSTGRES_DSN=postgres://nukara:nukara@localhost:5432/nukara?sslmode=disable
NUKARA_REDIS_ADDR=localhost:6379

NUKARA_ASTRON_BASE_URL=https://maas-api.cn-huabei-1.xf-yun.com/v2
NUKARA_ASTRON_API_KEY=
NUKARA_ASTRON_CHAT_MODEL=xminimaxm25

NUKARA_APNS_TOPIC=com.nukara.app
NUKARA_APNS_KEY_ID=
NUKARA_APNS_TEAM_ID=
NUKARA_APNS_P8_PATH=
NUKARA_APNS_P8_BASE64=
NUKARA_APNS_SANDBOX=true

NUKARA_GATEWAY_PORT=8080
NUKARA_ACCOUNT_PORT=8001
NUKARA_BOT_PORT=8002
NUKARA_CONVERSATION_PORT=8003
NUKARA_PROACTIVE_PORT=8006
